.popup__close-button {
  position: absolute;
  right: -47px;
  top: -47px;

  background-image: url(../../../images/popup-close-button.svg);
  background-position: center;
  background-size: cover;
  background-color: transparent;

  width: 57.56px;
  height: 57.56px;

  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity .1s ease-out;
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 400px) {
  .popup__close-button {
    right: -40px;
    top: -40px;
    width: 47.56px;
    height: 47.56px;
  }
}

@media screen and (max-height: 420px) {
  .popup__close-button {
    top: -40px;
    right: -40px;
    width: 47.56px;
    height: 47.56px;
  }
}
