.popup__label {
  margin: 0 0 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__label:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 400px) {
  .popup__label {
    margin: 0 0 14px;
  }

  .popup__label:last-of-type {
    margin-bottom: 36px;
  }
}
