.footer {
  padding: 66px 0 60px;
  max-width: 882px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
